@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@200;300;400;500;600;700;800&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* NAV SECTION */


nav{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 165px;
  background: #FFFFFF;
  z-index: 3;
}

.nav__logo img{
  width: 111px;
  height: 18px;
}

.nav__list{
  width: 408px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.nav__item{
  font-size: 13px;
  font-weight: 700;
  font-family: 'Karla', sans-serif;
  text-decoration: none;
  color: #837D88;
  transition: 0.1s;
}

.nav__item:hover{
  color: #2C2830;
}

.nav__btn{
  font-size: 13px;
  font-weight: 700;
  padding: 12.5px 28.5px;
  border: 1.5px solid #2C2830;
  text-decoration: none;
  font-family: 'Karla', sans-serif;
  color: #2C2830;
  transition: 0.2s;
}

.nav__btn:hover{
  background: #2C2830;
  color: #FFFFFF;
}





/* HEADER SECTION */


.header__section{
  display: flex;
  justify-content: space-between;
  height: 600px;
  padding: 105px 165px 0px 165px;
  background: #2D2641;
  color: #FFFFFF;
  margin-bottom: 9.5rem;
}

.header__text-title::before{
  content: "";
  display: block;
  width: 150px;
  height: 2px;
  background: #FFFFFF;
  margin-bottom: 63px;
}

.header__text-title{
  width: 540px;
  font-size: 72px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: -1px;
  font-family: 'DM Serif Display', serif;
}

.header__text-subtitle{
  width: 540px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #FFFFFF;
  margin-top: 16px;
  font-family: 'Karla', sans-serif;
  padding-bottom: 2.5rem;
}

.header__text-btn{
  font-size: 13px;
  font-weight: 700;
  color: #FFFFFF;
  border: 1.5px solid #FFFFFF;
  letter-spacing: 1.5px;
  padding: 12.5px 28.5px;
  text-decoration: none;
  font-family: 'Karla', sans-serif;
  transition: 0.2s;
}

.header__text-btn:hover{
  color: #2C2830;
  background: #FFFFFF;
}

.header__section-img{
  width: 540px;
  height: 650px;
}

.header__section-img::after{
  content: url(/images/header-bg-1.svg);
  position: absolute;
  margin-left: -17rem;
  margin-top: -11.5rem;
  z-index: 1;
}





/* FIRST SECTION */


.first__section::before{
  content: url(/images/first-section-bg.svg);
  position: absolute;
  margin-top: -31rem;
  margin-left: -10.5rem;
}

.first__section{
  padding: 150px 165px;
}

.first__section-title::before{
  content: "";
  display: block;
  width: 150px;
  height: 1px;
  background: #2C2830;
  margin-bottom: 63px;
}

.first__section-title{
  font-size: 72px;
  font-weight: 400;
  color: #2C2830;
  letter-spacing: -1px;
  font-family: 'DM Serif Display', serif;
}

.first__section-box{
  width: 1200px;
  display: flex;
  justify-content: space-between;
  padding-top: 96px;
}

.first__box-card{
  display: flex;
  flex-direction: column;
}

.first__box-card:nth-child(1)::before{
  content: url(/images/first-card-1.svg);
  width: 86px;
  height: 86px;
}

.first__box-card:nth-child(2)::before{
  content: url(/images/first-card-2.svg);
  width: 86px;
  height: 86px;
}

.first__box-card:nth-child(3)::before{
  content: url(/images/first-card-3.svg);
  width: 86px;
  height: 86px;
}

.first__card-title{
  font-size: 28px;
  font-weight: 400;
  color: #2C2830;
  padding-top: 32px;
  font-family: 'DM Serif Display', serif;
}

.first__card-subtitle{
  width: 350px;
  font-size: 16px;
  font-weight: 400;
  margin-top: 16px;
  color: #837D88;
  font-family: 'Karla', sans-serif;
  line-height: 26px;
}

article{
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 250px;
  background: #2D2641;
  align-items: center;
  padding: 69px 80px;
  margin-top: 150px;
}

article::after{
  content: url(/images/article-bg.svg);
  position: absolute;
  margin-left: 42.2rem;
  margin-top: 0.2rem;
  z-index: 1;
}

.article__title{
  width: 470px;
  font-size: 56px;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 56px;
  letter-spacing: -1px;
  font-family: 'DM Serif Display', serif;
}

.article__btn a{
  position: relative;
  width: 160px;
  height: 40px;
  font-size: 13px;
  color: #FFFFFF;
  font-weight: 700;
  letter-spacing: 1.5px;
  border: 1.5px solid #FFFFFF;
  text-decoration: none;
  font-family: 'Karla', sans-serif;
  align-items: center;
  padding: 12.5px 24.5px;
  transition: 0.2s;
  z-index: 2;
}

.article__btn a:hover{
  background: #fff;
  color: #2C2830;
}





/* FOOTER SECTION */


footer{
  display: flex;
  flex-direction: column;
  background: #FAFAFA;
  padding: 65.5px 165px;
}

footer::before{
  content: url(/images/footer-bg.svg);
  position: absolute;
  margin-left: -10.3rem;
  margin-top: -4rem;
  z-index: 1;
}

.footer__nav{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1.5px solid #DADADA;
  padding-bottom: 36px;
  z-index: 2;
}

.footer__nav-logo{
  width: 111px;
  height: 18px;
}

.footer__nav-icon{
  width: 144px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.footer__nav-icon i{
  align-items: center;
  font-size: 28px;
  color: #837D88;
  transition: 0.2s;
}

.footer__nav-icon i:hover{
  color: #2C2830;
}

.footer__section{
  display: flex;
  justify-content: space-between;
}

.footer__links{
  margin-top: 48px;
}

.footer__links-title{
  font-size: 13px;
  font-weight: 700;
  color: #837D88;
  font-family: 'Karla', sans-serif;
  letter-spacing: 1.5px;
}

.footer__list{
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-top: 20px;
}

.footer__list li{
  margin-top: 16px;
}

.footer__item{
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-decoration: none;
  font-family: 'Karla', sans-serif;
  color: #2D2641;
  transition: 0.3s;
}

.footer__item:hover{
  border-bottom: 1px solid #2D2641;
}